# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.yarn-integrity

# Dependencies
node_modules/
/server/node_modules/

# Production
/dist
/build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime
.npm/
.next/
.nuxt/
.svelte-kit/
.vercel/
.vite/
.cache/
.parcel-cache/

# macOS
.DS_Store

# VSCode
.vscode/

# Jest
/coverage
/server/coverage

# Docker
Dockerfile.backend # If you rename Dockerfile to Dockerfile.backend
!Dockerfile # Keep Dockerfile if it's the main one
!Dockerfile.frontend # Keep Dockerfile.frontend
.dockerignore

# CI/CD
.github/workflows/
